@{
    ViewData["Title"] = "Home Page";
}

<p>Welcome to the movie registration site please click the link to register a movie</p>
<a asp-action="Registration" asp-controller="Home">Movie Registration</a>
<p>This is the entire list of movies</p>
<a asp-action="MoviesIndex" asp-controller="Movie">Movies List</a>
