<h2>Movie Registration Form</h2>

<form action="Result" method="POST">
    <h4>Enter the movie information below</h4>

    <input type="text" name="Title" />
    <p>Title</p>

    <input type="text" name="Genre" />
    <p>Genre</p>

    <input type="number" name="Year" />
    <p>Year</p>

    <input type="number" name="Runtime" />
    <p>Runtime(min)</p>

    <input type="submit" />
</form>